[submodule "ordered-map"]
	path = ordered-map
	url = https://github.com/Tessil/ordered-map.git
[submodule "Stockfish"]
	path = Stockfish
	url = https://github.com/official-stockfish/Stockfish.git
[submodule "portable-snippets"]
	path = portable-snippets
	url = https://github.com/nemequ/portable-snippets
